
.admin-home-background {
    background-color: #f4f4f4;
    /* min-height: 100vh; */
  }
  
 
  .navbar {
    background-color: #343a40;
  }
  

  .table {
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  

  .table thead th {
    background-color: #343a40;
    color: #ffffff;
  }
  
  .table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  

  .btn-outline-dark {
    background-color: transparent;
    border-color: #343a40;
    color: #343a40;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .btn-outline-dark:hover {
    background-color: #343a40;
    color: #ffffff;
  }
   